.progress {
  margin: 10px auto;
  width: 300px;
}

.nav {
  margin: 30px 0 20px 0;
}

.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 40px;
    padding-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

.pets-pagination {
  margin-top: 0;
}

.page-pet-edit form {
  width: 500px;
  margin-top: 40px;
}

th {
  background-image: url('/media/pattern.jpg');
}
